{% extends "base.html" %}
{% block content %}


<div class="col-sm-12">
  <p><a class="btn btn-primary btn-sm" href="{% url 'article_create' buluojianshe.id %}" role="button">发表文章</a></p>
  <ol class="breadcrumb">
    <li><a href="{% url 'buluojianshe_list' %}">首页</a></li>
    <li class="active">{{ buluojianshe.name }}</li>
  </ol>

  <table class="table table-bordered">
    <tr>
      <th>状态</th>
      <th>标题</th>
      <th>作者</th>
      <th>更新时间</th>
    </tr>
    {% for article in articles %}
    <tr>
    <td>{{ article.get_status_display }}</td>
    <td><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></td>
    <td>{{ article.owner }}</td>
    <td>{{ article.last_update_timestamp | date:"Y-M-D H:i:s" }}</td>
    </tr>
    {% endfor%}
  </table>
  <br />
  {% include "component/paginator.html" with param_name="page_no" %}
<!--  <nav>
      <ul class = "pagination">
        {% if has_previous %}
        <li>
          <a href="?page_no=1" aria-label="Prevoius">
            <span aria-hidden="true">第一页</span>
          </a>
        </li>
        <li>
          <a href="?page_no={{ previous_link }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        {%for no in page_links %}
        <li{% if current_no == no %} class="active"{% endif %}><a href="?page_no={{ no }}">{{ no }}</a></li>
        {% endfor %}
        {% if has_next %}
        <li>
	  <a href="?page_no={{ next_link }}" aria-label ="Next">
	    <span aria-hidden="true">&raquo;</span>
	  </a>
	</li>
	<li>
         <a href="?page_no={{ page_cnt }}" aria-label="Next">
            <span aira-hidden="true">最后一页</span>
         </a>
        </li>
        {% endif %}
      </ul>
  </nav>-->
</div>
{% endblock %}
