{% extends "base.html" %}
{% block content %}
{% for buluojianshe in benjamins %}
<div class="col-sm-10">
  <div class = "buluojiansheItem">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="{% url 'article_list' buluojianshe.id %}" style="font-size:18px">{{ buluojianshe.name }}</a>
        <span class="pull-right">管理员：{{ buluojianshe.manager.username }}</span>
      </div>
      <div class="panel-body">
        {{ buluojianshe.desc }}
      </div>
    </div>
  </div>
</div>
{% endfor %}
  {% if user.is_authenticated %}
 
   <span>{{ user.username }}</span>
        {% if msg_cnt %}
        <a href="{% url 'message_list' %}"><span class="badge">{{ msg_cnt }}</span></a>
        {% endif %}
    <br />
    <h3>欢迎来到,</h3>
    
    <h3><p>LET'S FUN!</p></h3>
    <a href="{% url 'user_logout' %}"><br />退出</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'password_change' %}">修改密码</a>
    {% else %}
      <h3><p>匿名,欢迎来到<br />LET'S FUN,<br />请<a href="{% url 'login' %}">登录</a></p></h3>
  {% endif %}
{% endblock %}
